<div class="slider zerogrid">
    <div class="rslides_container">
     <ul class="rslides" id="slider">
         <li><img src="assets/images/slide-1.jpg" alt="" /></li>
         <li><img src="assets/images/slide-2.jpg" alt="" /></li>
         <li><img src="assets/images/slide-3.jpg" alt="" /></li>
     </ul>
 </div>
</div>
<!--==============================content================================-->
<section id="content" class="zerogrid">
<div class="row block-1">
 <div class="col-1-4"><div class="wrap-col" style="margin: 20px;">
     <img src="assets/images/page1-img1.jpg" alt="">
     <p class="text-1">BBA<strong></strong></p>
     <p class="upper">If business or this relate matter make you curious than enroll this course and make your knowledge rich.</p>
     <a href="http://localhost/fees_management/click_fees/login.php" class="button">Enroll</a>
 </div></div>
 <div class="col-1-4"><div class="wrap-col" style="margin: 20px;">
     <img src="assets/images/page1-img2.jpg" alt="">
     <p class="text-1">MBA<strong></strong></p>
     <p class="upper">If business or this relate matter make you curious than enroll this course and make your knowledge rich.</p>
     <a href="http://localhost/fees_management/click_fees/login.php" class="button">Enroll</a>
 </div></div>
 <div class="col-1-4"><div class="wrap-col" style="margin: 20px;">
     <img src="assets/images/page1-img3.jpg" alt="">
     <p class="text-1">BSC<strong></strong></p>
     <p class="upper">If science or this relate matter make you curious than enroll this course and make your knowledge rich.</p>
     <a href="http://localhost/fees_management/click_fees/login.php" class="button">Enroll</a>
 </div></div>
 <div class="col-1-4"><div class="wrap-col" style="margin: 20px;">
     <img src="assets/images/page1-img4.jpg" alt="">
     <p class="text-1">MSC<strong></strong></p>
     <p class="upper">If science or this relate matter make you curious than enroll this course and make your knowledge rich.</p>
     <a href="http://localhost/fees_management/click_fees/login.php" class="button">Enroll</a>
 </div></div>
</div>
<div class="row block-2 wrap pad-2">
   <div class="col-1-2"><div class="box-2">
     <h2 class="clr-1">Reviews</h2>
     <div class="comments">
         <div>
             “Really good and well structured course. All materials are practical!”
             <div class="comments-corner"></div>
         </div>
         <a href="#">Aminul Toky</a>
     </div>
     <div class="comments">
         <div>
             “Really good and well structured course. All materials are practical!”
             <div class="comments-corner"></div>
         </div>
         <a href="#">Fayzullah Aman</a>
     </div>
 </div></div>
 <div class="col-1-2"><div class="box-3">
     <h2 class="clr-1">Our Courses</h2>
     <div class="wrap">
         <div class="col-1-2">
         <ul class="list-1">
             <li><a href="#">Accounting</a></li>
             <li><a href="#">Management</a></li>
             <li><a href="#">Marketing</a></li>
             <li><a href="#">Chemistry</a></li>
             <li><a href="#">Physics</a></li>
             <li><a href="#">Math</a></li>
         </ul>
         </div>
         <div class="col-1-2">
         <ul class="list-1 last">
             <li><a href="#">Web Development</a></li>
             <li><a href="#">App Development</a></li>
             <li><a href="#">Database</a></li>
             <li><a href="#">Networking</a></li>
             <li><a href="#">Graphics</a></li>
             <li><a href="#">MS Office</a></li>
         </ul>
         </div>
     </div>
     <a href="#" class="button-2">Read More</a>
 </div></div>
</div>  
</section> 
