<header>
    <div class="zerogrid main wrap">
            <h1><p><span>Course Fee</span></p></h1> 
         <p>Mirpur, Dhaka <span>01521327682</span></p>
    </div>
    <nav>  
       <ul class="zerogrid menu">
           <li class="current first-child"><a routerLink="" class="home"><img src="" alt="">Home</a></li>
           <!-- <li><a routerLink="about">About</a></li> -->
           <!-- <li><a routerLink="maintenance">Students</a></li>
           <li><a routerLink="repair">Courses</a></li> -->
           <li><a routerLink="contact">Contact Us</a></li>
           <li><a href="http://localhost/fees_management/click_fees/login.php">Admin</a></li>
       </ul>
       <div class="clear"></div>
     </nav>
</header>
